src/main/resources/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xmlexample">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="age" type="xs:integer" />
				<xs:element name="employed" type="xs:boolean" />
				<xs:element name="birthdate" type="xs:date" />
				<xs:element name="starttime" type="xs:time" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 